header {
	color: #ffffff;
	font-family: Raleway;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	background-color: #f15b31;
	padding: 30px 20px;
	
}
a {
	font-family: Raleway;
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0px 20px;
	border-bottom:2px solid transparent;
	text-decoration:none;

}
.heading2 {
	font-family: Raleway;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.instructions{
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}
main{
	width: 850px;
	margin: 35px auto;
}
body {
	text-align: center;
	margin:0;

}
nav{
	background-color: #00a6b3;
	padding: 20px 0px;
	color: #ffffff;
	
}

img{
	margin:40px 8px 0px 8px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content:"";
	clear: both;
	height: 0;
	font-size: 0;
}
.name{
	color: #f15b31;
	font-weight: 700;
	}
footer{
	text-transform: uppercase;
	padding:20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright{
	font-family: Raleway;
	float:left;
}
.message{
	font-family: Raleway;
	float: right;

}
a:hover{
	border-color:white;
}